#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

main {
	display: flex;
	width: 100vw;
	max-width: 100%;
}

.day {
	width: 15%;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
}

.day h2 {
	margin: 0;
	padding: 0;
	height: 45px;
}

.hour {
	height: 45px;
	position: relative;
}

.cell {
	width: 100%;
	border: 1px solid #aaa;
}

.today {
	background-color: lavender;
}

.calendar-event {
	background-color: bisque;
	border: 1px solid bisque;
	border-radius: 10%;
	z-index: 10;
	position: absolute;
	top: 0px;
	left: 1px;
	right: 1px;
	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: left;
	overflow: hidden;
	font-size: small;
}
