#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

main {
	display: flex;
	width: 100vw;
	max-width: 100%;
}

.day {
	width: 15%;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
}

.day h2 {
	margin: 0;
	padding: 0;
	height: 32px;
}

.hour {
	height: 32px;
}

.cell {
	width: 100%;
	border: 1px solid #aaa;
}

.today {
	background-color: lavender;
}
